* {
  box-sizing: border-box;
}

body {
  background: #161616;
  letter-spacing: 1px;
  overflow-x: hidden;
  width: 100%;
}

/* img {
  vertical-align: middle;
} */

a:hover {
  color: white;
  text-decoration: none;
}

a {
  color: white;
}

li {
  list-style: none;
}

ul {
  padding: 0 10px;
}

.game-container {
  /* display: inline-block; */
  /* margin: 0 0.25em; */
  text-align: center;
  /* box-shadow: 0px 0px 35px 13px rgba(0, 0, 0, 0.8); */
}

.game_container {
  text-align: center;
}
/* .stream-template {
  margin: 0 2em;
} */

.main-container {
  padding-top: 4em;
}

.featured-streams {
  margin: 3em 0;
}

.carousel-indicators {
  /* margin-top: 100px 0; */
  opacity: 0;
  margin: 0;
}

.carousel-control-next-icon {
  /* background: black; */
  margin-left: 1.3em;
}

.carousel-control-prev-icon {
  margin-right: 1.3em;
}

.featured-stream-description {
  display: flex;
  margin: 0 27px;
  padding: 5px 5px;
  background: #52527a;
  color: white;
}

/* .stream-link:visited {
  color: white;
  text-decoration: none;
} */

/* .featured-stream-container {
  background: #52527a;
} */

.featured-stream-channel-caption {
  color: lightgrey;
  margin: 0;
  padding: 0 10px;
}

.featured-stream-name {
  margin: 0;
  font-size: 1.3em;
}

.featured-stream-image {
  position: relative;
  width: 320px;
  height: 200px;
  left: 4%;
}

.live {
  position: absolute;
  top: 7%;
  left: 76%;
  color: white;
  background: #ff4d4d;
  padding: 2px 12px;
  border-radius: 17%;
  font-size: 13px;
}

.viewers {
  position: absolute;
  top: 79%;
  left: 10%;
  color: white;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 7%;
  font-size: 13px;
}

.channel-live {
  position: absolute;
  top: 7%;
  left: 76%;
  color: white;
  background: #ff4d4d;
  padding: 2px 12px;
  border-radius: 17%;
  font-size: 13px;
}

.channel-logo {
  width: 40px;
  height: 40px;
}

.channel-link {
  position: absolute;
  top: 0%;
  background: rgba(0, 0, 0, 0.4);
  padding: 8px;
  width: 100%;
  display: flex;
}

.channel-caption {
  color: lightgrey;
  margin: 0;
  font-size: 13px;
}

.channel-name {
  color: white;
  margin: 0;
  font-size: 1.2em;
}

.channel-description {
  margin-left: 10px;
}

.play {
  position: absolute;
  top: 30%;
  left: 50%;
}

/* .form {
  margin: 5em;
} */

.nav {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  padding: 1em;
  /* width: 0; */
  text-align: right;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background: #6441a4;
  /* right: 10%; */
}

.twitch-logo {
  width: 2.3em;
  height: 2.3em;
}

.twitch-logo2 {
  display: none;
  /* width: 5.5em;
  height: 2.5em; */
}

.reset-button {
  /* position: absolute; */
  /* right: 0.5%; */
  background: none;
  border: none;
}

.fa-times-circle {
  color: white;
}

.fas {
  /* position: absolute;
  right: 10%; */
  color: white;
}

.input {
  background: #fff;
  color: #000;
  border: none;
  border-radius: 5%;
  padding: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  width: 50%;
}

.search-container {
  position: absolute;
  top: 10%;
  left: 6%;
  width: 100%;
}

.top-games,
.live-channels {
  /* margin-left: 10px; */
  color: #e6e6e6;
}

.top-games-container {
  margin: 0 20px;
}

.live-channels-container {
  margin: 50px 20px;
}

.logo {
  /* -webkit-box-shadow: 0px 5px 19px -2px #000000; */
  box-shadow: 0px 5px 19px 0px #000000;
  width: 100%;
}

.live-channel-banner {
  /* position: relative; */
  /* margin-left: 9px; */
  margin: 0 auto;
  width: 100%;
  /* box-shadow: inset 1px 24px 20px -2px rgba(0, 0, 0, 0.75); */
  /* width: 160px; */
}

.slick-arrow {
  opacity: 0.4;
}

.slick-next {
  margin-right: 10px;
}

.slick-prev {
  margin-left: 12px;
}

.slick-dots {
  opacity: none;
}

.slick-list {
  margin: 0 0.5em;
}

.live-channel-image {
  position: relative;
  width: 100%;
}

.channelViewers {
  margin: 0;
  position: absolute;
  top: 79%;
  left: 5%;
  color: white;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 7%;
  font-size: 13px;
}

.featured-stream-caption {
  text-align: center;
}

.game-category {
  display: flex;
  justify-content: space-between;
}

.see-All_link {
  color: lightgrey;
}

.suggested-result {
  color: white;
  list-style: none;
  padding-left: 1em;
  font-size: 1.1em;
}

.suggested-result p {
  margin: 0;
}

.stream-game {
  font-size: 12px;
  margin: 5px 0;
  color: lightgray;
}

.stream-status {
  font-size: 14px;
}

.suggestions-menu {
  padding: 0;
  width: 100%;
  /* margin: 0 1em; */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.live-button,
.channels-button {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  background: linear-gradient(rgba(96, 64, 209, 0.8), rgba(96, 64, 209, 0.8));
  border: none;
  width: 100%;
  transition: 0.4s;
}

.live-button:hover,
.channels-button:hover {
  background-color: snow;
}

.suggested-stream-logo {
  border-radius: 10%;
  height: 80px;
}

.suggested-result-logo {
  width: 60px;
  height: 60px;
  /* margin: 1em 0 1em 1em; */
  border-radius: 50%;
}

.suggested-item-container {
  display: flex;
  align-items: center;
  padding: 1em;
}

.game_container2 {
  display: flex;
  padding: 1em 0;
  border-bottom: 1px solid grey;
}

.game-viewers {
  color: lightgrey;
}

.category_logo {
  width: 5em;
  height: 7em;
  margin: 0 1em;
}

.category-container {
  margin-top: 4em;
}

.game-title {
  color: white;
}

.menu {
  background: black;
  padding: 1em 0;
  text-align: left;
  z-index: 2;
  /* position: fixed; */
  width: 100%;
  /* margin-top: 4.3em; */
  transition: 0.5s;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  /* transition: 0.7s; */
}

.menu li {
  padding: 10px 0;
}

.menu-link {
  border-bottom: 2px solid grey;
}

/* .menu a:hover {
  color: #f1f1f1;
} */

.menu-button {
  background: none;
  border: none;
}

.nav-buttons {
  background: #6e4db5;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 0;
}

.play {
  height: 3em;
  width: 3em;
  top: 40%;
}

.search-box {
  display: none;
}

.channel-info {
  display: none;
}

.live_list,
.channels_list {
  color: #e8e8e8;
  margin: 0;
  /* padding-bottom: 2px; */
}

.line {
  border: 1px solid #8a2be2;
}

.live_circle {
  width: 9px;
  height: 9px;
  margin-right: 4px;
}

.channel_menu {
  position: fixed;
  z-index: 3;
  width: 100%;
  /* margin-top: 4em; */
  top: 26.3%;
  max-height: 550px;
  overflow: auto;
}

.channelContainer {
  position: fixed;
  width: 100%;
  top: 7%;
  overflow: hidden;
}

.suggested-live-results {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  z-index: 1;
  padding: 0;
  margin: 0;
}

.back-button {
  color: white;
}

.fa-caret-down {
  margin: 0 6px;
}

.stream-menu-description {
  display: flex;
  align-items: center;
}

.stream-menu-viewers {
  font-size: 12px;
  color: lightgray;
}

@media screen and (min-width: 600px) {
  .menu {
    display: none;
  }

  .channel_menu {
    top: 7.8%;
    left: 64%;
  }

  .game-title {
    font-size: 13px;
    margin: 0;
  }

  .game-viewers {
    margin: 5px 0;
    font-size: 80%;
  }

  .game-description {
    text-align: left;
    width: 48%;
  }

  .category_logo {
    width: 45%;
    height: 80%;
    box-shadow: 0px 5px 19px 0px #000000;
    margin-bottom: 0.5em;
  }

  .category-container {
    display: flex;
    flex-wrap: wrap;
  }

  .game_container2 {
    display: flex;
    padding: 1em 0;
    border: none;
    flex-direction: column;
    width: 20%;
    align-items: center;
    text-align: center;
  }

  .game_container2:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
  }

  .suggested-item-container {
    border-bottom: 1px solid grey;
  }

  .suggested-item-container:hover {
    background-color: #9932cc;
  }

  .suggestions-menu {
    width: 30%;
    z-index: 1;
    box-shadow: 0px 10px 13px -7px #000000;
  }

  .suggested-live-results {
    margin-bottom: 0;
    width: 30%;
    bottom: 0;
    z-index: 1;
    padding: 0;
    box-shadow: 0px 0px 12px 5px #000000;
  }

  .search-box {
    display: block;
    margin-right: 5%;
  }

  .input {
    width: 100%;
    padding: 0 0 0 5px;
  }

  .reset-button {
    display: none;
  }

  .featured-stream-image {
    width: 100%;
    height: 30%;
    left: 0;
  }

  .featured-streams {
    text-align: center;
    width: 50%;
    margin-left: 23%;
  }

  .featured-stream-image {
    height: 70%;
  }

  .viewers {
    position: absolute;
    top: 88%;
    left: 3%;
    font-size: 1em;
  }

  .live {
    position: absolute;
    top: 4%;
    left: 88%;
    font-size: 1.1em;
    padding: 2px 16px;
  }

  /* .featured-stream-description {
    display: flex;
    justify-content: center;
    margin: 0 26em;
  } */

  .slick-next:before,
  .slick-prev:before {
    font-size: 30px;
  }

  .slick-prev {
    /* margin-left: 50px; */
    margin: 0;
    z-index: 1;
  }

  .slick-next {
    /* margin-right: 50px; */
    margin: 0;
  }

  .slick-slide img {
    display: inline-block;
  }

  .top-games {
    font-size: 2em;
  }

  .logo {
    width: 80%;
    height: 80%;
  }

  .live-channels {
    font-size: 2em;
  }

  .featured-stream-description {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .featured-stream-caption {
    text-align: center;
    flex-grow: 1;
  }

  .twitch-logo {
    width: 1.5em;
    height: 1.5em;
  }

  .twitch-logo2 {
    width: 7em;
    height: 2em;
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 2px solid white;
  }

  .game-category {
    margin: 1em 3em;
  }

  .menu-button {
    display: none;
  }

  .live-channel-image {
    width: 100%;
  }

  .live-channels {
    font-size: 2em;
    margin: 1em 0;
  }

  .live-channel-box {
    text-align: center;
  }

  .live-channel-banner {
    width: 100%;
    padding: 0 1em 1em 1em;
  }

  .channel-link {
    width: 92%;
    left: 4%;
    /* display: flex; */
  }

  .channelViewers {
    top: 76%;
    left: 7%;
  }

  .top-games-box {
    margin: 5em 2em;
  }

  .top-live-channels {
    margin: 0 2em;
  }

  .home_link {
    margin-left: 5%;
  }

  .play {
    height: 5em;
    width: 5em;
    top: 48%;
    left: 48%;
  }

  .channel-display_name {
    color: white;
    font-size: 3em;
    text-align: center;
    margin: 10px 0;
  }

  .channel-logo2 {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: cover;
  }

  .channel-box {
    /* position: absolute;
    top: 33%;
    left: 17%; */
    margin: 0 auto;
  }

  .channel-info {
    padding-top: 1em;
    background-size: cover;
    background-position: left;
    height: 20.4em;
    display: block;
  }
}
