* {
  box-sizing: border-box;
}

/* body {
  background: blue;
} */

.scrollMenu {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  overflow: scroll;
}

.game_container {
  /* display: inline-block; */
  margin: 0 0.25em;
}

/* .logo {
  display: inline-block;
  text-align: center;
  /* overflow: auto;
  white-space: nowrap;
  margin: auto; */
/* } */
