* {
  box-sizing: border-box;
}

body {
  background: #33334d;
  letter-spacing: 1px;
}

a {
  color: white;
}

li {
  list-style: none;
}

ul {
  padding: 0 10px;
}

.main-container {
  margin-top: 5em;
}

.scrollMenu {
  display: flex;
  overflow: scroll;
}

.game_container {
  /* display: inline-block; */
  /* margin: 0 0.25em; */
  text-align: center;
}

/* .stream-template {
  margin: 0 2em;
} */

.featured-streams {
  margin: 3em 0;
}

.carousel-indicators {
  /* margin-top: 100px 0; */
  opacity: 0;
  margin: 0;
}

.carousel-control-next-icon {
  /* background: black; */
  margin-left: 1.3em;
}

.carousel-control-prev-icon {
  margin-right: 1.3em;
}

.featured-stream-description {
  display: flex;
  margin: 0 27px;
  padding: 5px 5px;
  background: #52527a;
  color: white;
}

/* .stream-link:visited {
  color: white;
  text-decoration: none;
} */

/* .featured-stream-container {
  background: #52527a;
} */

.featured-stream-channel-caption {
  color: lightgrey;
  margin: 0;
  padding: 0 10px;
}

.featured-stream-name {
  margin: 0;
  font-size: 1.3em;
}

.featured-stream-image {
  position: relative;
  /* width: 300px;
  height: 200px; */
}

.live {
  position: absolute;
  top: 7%;
  left: 76%;
  color: white;
  background: #ff4d4d;
  padding: 2px 12px;
  border-radius: 17%;
  font-size: 13px;
}

.viewers {
  position: absolute;
  top: 79%;
  left: 10%;
  color: white;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 7%;
  font-size: 13px;
}

.channel-live {
  position: absolute;
  top: 7%;
  left: 76%;
  color: white;
  background: #ff4d4d;
  padding: 2px 12px;
  border-radius: 17%;
  font-size: 13px;
}

.channel-logo {
  width: 40px;
  height: 40px;
}

.channel-link {
  position: absolute;
  top: 0%;
  left: 2%;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  padding: 8px;
  width: 96%;
}

.channel-caption {
  color: lightgrey;
  margin: 0;
  font-size: 13px;
}

.channel-name {
  color: white;
  margin: 0;
  font-size: 1.2em;
}

.channel-description {
  margin-left: 10px;
}

.play {
  position: absolute;
  top: 30%;
  left: 50%;
}

/* .form {
  margin: 5em;
} */

.nav {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  padding: 1em;
  /* width: 0; */
  text-align: right;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  /* right: 10%; */
}

.twitch-logo {
  width: 2.3em;
  height: 2.3em;
}

.reset-button {
  position: absolute;
  right: 0.5%;
  top: 15%;
  background: none;
  border: none;
  padding: none;
}

.fa-times-circle {
  color: white;
}

.fas {
  /* position: absolute;
  right: 10%; */
  color: white;
}

.input {
  background: #29293d;
  color: white;
  border: none;
  border-radius: 5%;
  padding-top: 5px;
  font-size: 20px;
  letter-spacing: 1px;
}

.input-container {
  position: relative;
}

.top-games,
.live-channels {
  /* margin-left: 10px; */
  color: #e6e6e6;
}

.top-games-container {
  margin: 10px 20px;
}

.live-channels-container {
  margin: 50px 20px;
}

.logo {
  margin: 0 10px;
  /* -webkit-box-shadow: 0px 5px 19px -2px #000000; */
  box-shadow: 0px 5px 19px 0px #000000;
  width: 120px;
  height: 170px;
}

.live-channel-banner {
  /* position: relative; */
  /* margin-left: 9px; */
  margin: 0 auto;
  box-shadow: inset 1px 24px 20px -2px rgba(0, 0, 0, 0.75);
  /* width: 160px; */
}

.slick-arrow {
  opacity: 0.4;
}

.slick-next {
  margin-right: 10px;
}

.slick-prev {
  margin-left: 12px;
}

.slick-dots {
  opacity: none;
}

.live-channel-image {
  position: relative;
}

.channelViewers {
  margin: 0;
  position: absolute;
  top: 79%;
  left: 5%;
  color: white;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 7%;
  font-size: 13px;
}

.featured-stream-caption {
  text-align: center;
}

.game-category {
  display: flex;
  justify-content: space-between;
}

.see-All_link {
  color: lightgrey;
}

.suggested-result {
  color: white;
  list-style: none;
  position: absolute;
  top: 25%;
  left: 22%;
  margin: 0 1em;
}

.suggestions-menu {
  padding: 0;
  width: 100%;
  padding-top: 1em;
}

.suggested-result-logo {
  width: 50px;
  height: 50px;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.suggested-item-container {
  display: flex;
  position: relative;
  /* border-bottom: 2px solid grey; */
}

.game_container2 {
  display: flex;
  padding: 1em 0;
  border-bottom: 1px solid grey;
}

.game-viewers {
  color: lightgrey;
}

.category_logo {
  width: 5em;
  height: 7em;
  margin: 0 1em;
}

.category-container {
  margin-top: 5em;
}

.game-title {
  color: white;
}

.menu {
  background: rgba(0, 0, 0, 0.6);
  padding: 1em 0;
  text-align: left;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  /* transition: 0.7s; */
}

.menu li {
  padding: 10px 0;
}

.menu-link {
  border-bottom: 2px solid grey;
}

/* .menu a:hover {
  color: #f1f1f1;
} */

.menu-button {
  background: none;
  border: none;
}

.nav-buttons {
  background: #6e4db5;
}
